# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-Learn

Data Science Tools

| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#first multiply than summary.
(3 * 4) + 5

17

In [2]:
# This statement will convert 200 minutes to hours by dividing it to 60.
200 / 60

3.3333333333333335

**Objectives:**

- Popüler veri bilimi dillerini listeleme
- Veri bilimi için kullanılan yaygın kütüphaneleri tanıtma
- Veri bilimi araçlarını içeren bir tablo oluşturma
- Aritmetik ifadelerin Python'da nasıl değerlendirildiğini örneklerle gösterme
- Basit matematik işlemleri için kod hücreleri yazma

## Author
BARTU ERGOVAN